$selected-box-color :  #15bfff;
$default-box-color :  #dcdcdc;
$box-color-hover :  #b4b4b4;
$shadow-color :  #8a8b8b;
$option-hover-background : #f7f7f7;
$disabled-option-color :  #cfcdcd;
$tag-bg-color :  #eeeded;